:host{
    position: relative;
    height: 100%;
    
}

.card-container{
    
    justify-content: space-around;
    color: var(--white);
    margin: 4%;
}

.card{
    display: block;
    gap: 20px;
}

.card-content{
    display: flex;
    justify-content: center;
}

.card-title{
    width: 100%;
    margin-bottom: 12px;
}


.card-text{
    margin: 0px 12px 0px 12px;
    padding: 0px 12px 0px 12px;
    max-width: 40ch;
}

.video-container{
    position: absolute;
    top: 0px;
    z-index: -10;
}

.video{
 
    width: 100%;
    height: auto;
   
}

@media screen and (max-width:600px){
    :host{
        display: block;
    }

    .video-container{
        height: 100dvh;
        width: 100vw;
        overflow: hidden;

    }

    .video{
        height: 100dvh;
        width: auto;
        
    }
}