<div @triggerAnimations>
  
  <!-- <app-link-bar class="container p-0" (selectedIndex)="renderView($event)"></app-link-bar> -->
  
  <div class="d-flex flex-row justify-content-evenly">
    @for (card of cardData; track $index) {
  

  <div class="card flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="img-fluid position-absolute top-0 start-0" src="/garden-400.jpg" alt="Avatar" >
      <div class="position-absolute top-0 start-0 h-100 w-100 my-auto">
        
        <h5 class="card-title position-absolute top-50 start-50 translate-middle">{{card.title}}</h5>
      </div>
    </div>
    <div class="flip-card-back">
      <p class="card-text text-small p-3">{{ card.content }}</p>
     
    </div>
  </div>
</div>

    }
    
  </div>




</div>