:host {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;  
  width: 100%;
  height: 100vh;
  scroll-margin-top: 50px;
  
}


.box {
  position: relative;
  top: 0px;
  display: block;
  width: 50%;
  height: 100%;
  font-style: normal;
}


.box:nth-child(1) {
  background: var(--deep-green);
  padding: 30px;
}

.page-title{
  padding: 0px;
}

p{
  color: var(--white);


}

@media screen and (max-width: 900px) {
  :host{
    height: 70vh;
  }
}

@media screen and (max-width:700px) {
  :host{
    display: block;
    height: auto
  }


  .box:nth-child(1) {
    width: 100%;
    height: auto;
  }

  .box:nth-child(2){
    width: 100%;
    height: 60vh;
  }

}





