<div id="side-1" class="box">
  <h1 class="page-title gold-font" appViewportObserver [title]="'servicio'">
    nuestro servicio
  </h1>

  <div class="page-subtitle-wrapper">
    <h2 class="page-subtitle white-font">Climatización</h2>
    <h2 class="page-subtitle gold-font">residencial y comercial</h2>
  </div>
  <div class="content">
    <p class="description white-font">
      Ofrecemos una alternativa sostenible para calefaccionar,
      refrigerar y obtener agua caliente sanitaria brindando eficiencia
      energética y disminuyendo la emisión de CO2 al
      planeta.
    </p>
    <div class="container-2">
      <hgroup >
        <h3 class="gold-font">Como lo hacemos</h3>
      </hgroup>
      <app-servicio-items></app-servicio-items>
    </div>
  </div>
</div>

<div id="side-2" class="box">
  <app-slider></app-slider>
</div>
