<div @triggerAnimations class="box">
  <h1 class="page-title gold-font" appViewportObserver [title]="'servicio'">
    nuestro servicio
  </h1>

  <div @fade class="page-subtitle-wrapper">
    <h2 class="page-subtitle white-font">Climatización</h2>
    <h2 class="page-subtitle gold-font">residencial y comercial</h2>
  </div>
  
    <p @fade class="description white-font">
      Ofrecemos una alternativa sostenible para calefaccionar,
      refrigerar y obtener agua caliente sanitaria brindando eficiencia
      energética y disminuyendo la emisión de CO2 al
      planeta.
    </p>
    <h3 @fade class="page-subtitle gold-font">Etapas incluidas</h3>
     

      <app-servicio-items @fade></app-servicio-items>


    </div>



<div class="box">
  <app-slider></app-slider>
</div>

