:host {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  top: 0px;
  display: block;
  width: 50%;
  /* height: 100%; */
  font-style: normal;
}

.page-title{
  padding: 0px;
}

@media screen and (max-width:600px) {
  :host{
    display: block;
    height: auto
  }

  .box{
    width: 100%;
  }

}





