<a id="logo" class="link">
  <img class="logo-img" src="isotipo.png" alt="logo" />
</a>


<span class="link-wrapper">

  @for (link of links; track $index) {

  <a class="link" (click)="[getSelectedIndex($index), activate($index)]" (mouseenter)="setHoverState($index)"
    (mouseleave)="setHoverState($index)" [ngClass]="link.state">
    <span class="white-font underline tracking-in-expand">{{link.title[0]}}</span>
    @if (link.title[1]) {
    <span class="gold-font underline tracking-in-expand">{{link.title[1]}}</span>
    }
  </a>

  }
</span>
<app-social></app-social>
