
.logo-img {
  height: 80px;
  width: 80px;
}



.link{


  font-size: 1.2rem;
  position: relative;


}



.active::after , .hovered::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--gold);
  transform: scaleX(0);
  transform-origin: center;
  animation: expand 0.3s ease-in-out forwards;
  
}

@keyframes expand {
  0% {
      opacity: 0;
      transform: scaleX(0);
  }
  100% {
      opacity: 1;
      transform: scaleX(1);
  }
}

.inactive::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--gold);
  transform: scaleX(0);
  transform-origin: center;
  animation: contract 0.3s ease-in-out forwards;
}

@keyframes contract {
  0% {
      opacity: 1;
      transform: scaleX(1);
  }
  100% {
      opacity: 0;
      transform: scaleX(0);
  }
}



.background{
  display: none;
}


@media screen and (max-width: 900px){

  .link-wrapper{
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 50;
    top: 0px;
    background: rgba(0, 0, 0, 0.74);
    height: 100dvh;
    width: 100dvw;
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(3px);
    
  }

  #logo{
    position: relative;
    z-index: 100;
    top: 0px;
    background: var(--cyprus);
    border-radius: 50%;
    margin: 5px;
    width: 10dvw;
    height: 10dvw;
  }




  .hide{
    display: none;
  }
}