

<a id="logo" class="link" >
  <img  class="logo-img"  src="isotipo.png" alt="logo" />
</a>

<ul class="link-wrapper">
 
  <a class="link" routerLink="/servicio" >
    <p class="white-font underline tracking-in-expand">Nuestro</p>
    <p class="gold-font underline tracking-in-expand">Servico</p>
  </a>
  <a class="link" routerLink="/descubri">
    <p class="white-font underline tracking-in-expand">Descubri</p>
    <p class="gold-font underline tracking-in-expand">Geotermia</p>
  </a>
  <a class="link" routerLink="/contacto">
    <p class="white-font underline tracking-in-expand">Contacto</p>
  </a>

</ul>


