
:host{
    display: block;
    height: 50vh;
    
    
}

.seguinos{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center ;
    
}

.card-contact{
    display: block;
    margin-left: 4%;
}
