




.img-container{
    position: relative;
    top: 0px;
    right:0px;
    width: 40%;
    height: 60%;
    overflow: hidden;
}

img{
   
    width: max-content;
    height: auto;
    animation: slowZoom 5s ease-in 200ms forwards;
}

@keyframes slowZoom {
    0%{ transform: scale(1);}
    100%{ transform: scale(1.1);}
    
}


.head-container{
    background: #232323;
  
    
  
}

h3{
    padding-top: 24px;
}






.arrow-counter-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
}

.arrow-container{
    position: relative;
    height: fit-content;
    width: fit-content;
    display: block;
    margin-top: 24px;
    margin-left: 24px;

}


button{
    display: block;
    background: transparent;
    border: transparent;
}

.arrow:hover{
    stroke: var(--gold);
}


.counter{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: baseline;
    margin-left: 24px;
    gap: 5px;
    color: var(--white);
    
}


.counter h3{
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}


#left-arrow:hover {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }


#right-arrow:hover {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
  }









    
 


