:host {
   
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--deep-green);
    
}


.slider{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider .view{
    display: flex;
    width: 300%;
    height:100%;
    transform: translateX(-33.333%);
}

.slider-container{
    display: flex;
    width: 300%;
    height: 100%;
    overflow: hidden;
}

.slide{
    width: 33.33%;
    height: 100%;
    position: relative;
}

.head-container {
  
  width: 100%;
  background: rgb(14, 14, 14);
  height: 15%;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  z-index: 10;
}

h2{
  text-transform: uppercase;
}



.content{
  
  height: 65%;
  width: 80%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 5;
}

ul{
  margin: 0px;
  width: 100%;
}

li{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.img-container{

    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{

    width: auto;
    height: 100%;
    object-fit: cover;
    background: black;
}

.arrow-container{

    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

}


button{
    display: block;
    background: transparent;
    border: transparent;
}

.arrow:hover{
    stroke: var(--gold);
}


.counter{
    position: absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: baseline;

    gap: 5px;
    color: var(--white);
    z-index: 10;
    
}


.counter h3{
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}


#left-arrow:hover {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}


.toRight {
    animation: toRight 1s cubic-bezier(0.66, 0, 0.34, 1);
   
}

.toLeft {
    animation: toLeft 1s cubic-bezier(0.66, 0, 0.34, 1);
}

@keyframes toRight {
    0% { transform: translateX(33.33%);}
    20% { transform: translateX(25%);}
    40% { transform: translateX(33.33%); }
    100% { transform: translateX(0%); }
}

@keyframes toLeft {
    0% { transform: translateX(-33.33%); }
    20% { transform: translateX(-25%); }
    40% { transform: translateX(-33.33%); }
    100% { transform: translateX(0%); }
}

.blur {
    animation: blurEffect 1s cubic-bezier(0.66, 0, 0.34, 1);
    
    
}

@keyframes blurEffect {
    0% { filter: blur(0px); 
    
    }
    50% { filter: blur(10px); 
     
    }
    100% { filter: blur(0px); 
  
    }
}






    
 


