:host{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.progress-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;

}

.img-container{
    position: relative;
    /* display: flex; */
    top: 0px;
    right: 0px;
    width: 40%;
    height: 60%;
    overflow: hidden;
    background: rebeccapurple;
}

img{
    position: relative;
    top: 0px;
    right: 0px;
    width: max-content;
    height: auto;
    animation: slowZoom 5s ease-in 200ms;
}

@keyframes slowZoom {
    0%{ transform: scale(1);}
    100%{ transform: scale(1.1);}
    
}


.head-container{
    background: #232323;
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
}

.aux{
    z-index: 10;
}

.title{
    position: relative;
    width: 100%;
    height: auto; 
    margin: 0px 0px 12px 0px; 
}
    

h2 ,h3{
    text-transform: uppercase;
    margin: 0px 0px 0px 10%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    padding-top: 24px;
}


.body-container{
    background: var(--deep-green);
    width: 60%;
    height: 70%;
    
}

.body-container p{
    color: var(--white);
    margin: 0px 10% 0px 10%;
    padding: 12px 0px 0px 0px;
}




.arrow-counter-container{
    position: relative;
    bottom: 0px;
    right: 0px;
    display: flex;
    width: 40%;
    height: 40%;
    background: pink;
}

.arrow-container{
    position: relative;

    height: auto;
    width: auto;
    display: block;
    padding-left: 10%;

}




button{
    display: block;
    background: transparent;
    border: transparent;
}

svg{
    display: block;
    
    stroke: var(--white);
}

.arrow:hover{
    stroke: var(--gold);
}

.counter{
    display: flex;
    align-content: flex-start;
    align-items: flex-end;
    padding-left: 10%;
    gap: 5px;
    color: var(--white);
}

.counter h3{
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}








#left-arrow:hover {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }


#right-arrow:hover {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
  }



 @media screen and (min-width:800px) {
    





button{
    display: block;
    background: transparent;
    border: transparent;
}

.arrow{
    display: block;
    stroke: var(--white);
}

.arrow:hover{
    stroke: var(--gold);
}

.counter{
    display: flex;
    width: auto;
    height: auto;
    
    align-content: flex-start;
    align-items: flex-end;
    
    padding-left: 10%;
    gap: 5px;
    color: var(--white);
}

.counter h3{
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}



    
 } 


