<div class="head-container">
  <h2 class=" gold-font">
    {{ SLIDES[index].title }}
  </h2>
</div>
<div class="slider">
  <div class="view">

    <div class="slider-container" [ngClass]="animationState()" >
      @for (slide of SLIDES; track $index) {
      <div class="slide"  [ngClass]="blurAnimation()">
        
        <div class="img-container"  >
          <img [src]="slide.img" 
            [alt]="slide.alt"
           
          />
        </div>

        <div class="content">
          <ul>
            @for (item of slide.body; track $index) {
            <li>{{ item }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
  </div>
</div>


<div class="arrow-container">
  <button
    id="left-arrow"
    (click)="onClickHandler(prevSlide)"
    role="button"
    aria-label="prevSlide"
  >
    <app-icon [name]="'leftArrow'" [stroke]="'white'"></app-icon>
  </button>
  <button
    id="right-arrow"
    (click)="onClickHandler( nextSlide)"
    role="button"
    aria-label="nextSlide"
  >
    <app-icon [name]="'rightArrow'" [stroke]="'white'"></app-icon>
  </button>

</div>

<div class="counter">
  <h3>
    <strong>0{{ index + 1 }} </strong> /
  </h3>
  <p>0{{ SLIDES.length }}</p>
</div>
