/* :host {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  width: 100%;
}


.image-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

.image {
  width: auto;
  height: 100%;
  transform: scale(1.01);
}



.row-wrapper {
    position: relative;
    margin: auto;
    width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  color: var(--white);
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.349);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 24px;
  
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;

}


h3 {
  font-size: 1.4rem;
}

.dots-box {
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width:900px){

  :host{
    height: 100dvh;
  }

  .row-wrapper{
    width: 50%;
    top: 10%;
    
  }

  .image-container{
    height: auto;
    
  }

  .image{
    transform: none;
    width: auto;
    height: 100%;
    max-height: 100dvh;
    transform: scale(1.01);
  }

  .content{
    font-size: 15px;
  }

  .dots-box{
    bottom: 20%;
  }
} */
:host{
  display:block;
}

.card{
  height: 200px;
  background: var(--cyprus);
}

.card-body{
  overflow: hidden;
 
}


.card-text{
  transform: translateY(-300px);
   background: var(--cyprus);
   opacity: 0;
   width: 100%;
    height: 80%;
}

.card:hover .card-text{
  	-webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

li{
  font-size: small;
}


@-webkit-keyframes slide-in-blurred-bottom {
  0% {

    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {

    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {

    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
