<section>
    <p class="description white-font">
      No produce gases de efecto invernadero Favorece la reducción de la huella de
      carbono, ayudando a mitigar el cambio climático.
    </p>
    <div class="row-wrapper">
      @for (row of data; track $index) { 
        @if (indexSelected1 === $index) {
      <div class="row">
        <app-icon [name]="row.icon"></app-icon>
        <h4>{{ row.title }}</h4>
        <ul>
          @for (item of row.items; track $index) {
          <li>
            <p>{{ item }}</p>
          </li>
          }
        </ul>
      </div>
      } 
    }
  </div>
  <app-dots-box [dotsNumber]="data.length" (indexSelected)="changeIndex1($event)"></app-dots-box>
</section>

