:host{
    position: static;
    display: block;
    height: 100vh;
    
}


.container{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

section{
   
    min-width: 50%;
    height: 50%;
}


.row-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly ;
    height: inherit;
    gap: 20px;
    color: var(--white);
    
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 300px;
    gap: 10px;
    transition: box-shadow 200ms ease-out;
   
}

.row:hover{
    box-shadow: 26px 21px 22px 0px var(--deep-green);
}



ul{
    margin: 0px;
    padding: 0px;
}

.dots{
    position: relative;
    bottom: 0px;

}


