:host{
    position: static;
    width: 100vw;
    height: auto;
    
}


.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

section{
    min-width: 50%;
    height: max-content;
}


.row-wrapper{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly ;
    max-width: 80%;
    gap: 20px;
    color: var(--white);
    
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 300px;
    gap: 10px;
    transition: box-shadow 200ms ease-out;
   
}

.row:hover{
    box-shadow: 26px 21px 22px 0px var(--deep-green);
}



ul{
    margin: 0px;
    padding: 0px;
}

.dots-container{
    display: flex;
    position: relative;
    bottom: 0px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.dots-container:hover > :not(:hover){
    opacity: 0.4;
}

.dot.card-container:first-child:active{
    background: var(--gold) ;
}

.dot{
    background: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 4px;
}

.dot:hover{
    background: var(--deep-green);

}

.card-container{
    
    justify-content: space-around;
    color: var(--white);
    margin: 4%;
}

.card{
    display: block;
    gap: 20px;
}

.card-content{
    display: flex;
}

.card-title{
    width: 100%;
}

.card-foto{
    background: var(--deep-green);
    width: 300px;
    height: 200px;
}

