<div class="container-fluid ">
<div class="row row-cols-2 gx-0 vh-100" >

  @for (item of data; track $index) {
    <div class="box col h-50 position-relative">

      <div class="cover position-absolute top-0 start-0  w-100 h-100 overflow-hidden">
        <img  class="object-fit-cover" src="/garden-400.jpg" alt="">
        
        <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center" > 

          <app-icon 
          [name]="item.icon" color="white"
          > </app-icon>
          <h5 class="">{{item.title}}</h5>
        </div>
      </div>
   
      <div  class="content p-2 position-absolute top-50 start-50 translate-middle w-100 h-100 d-flex flex-column justify-content-center">

        <ul >
          @for (bullets of item.items; track $index) {
            <li class="my-auto">{{bullets}}</li>
          }
  
        </ul>
      </div>



    </div>
    

  }

</div>

</div>



<!-- <div id="carouselExampleAutoplaying" class="carousel slide w-100 h-50" data-bs-ride="carousel">
  <div class="carousel-inner position-relative vh-50">
    <div class="carousel-item active position-relative ">
      <div class=" w-50" >
        <img src="/paisajes/imagen1.jpg" class="w-100" alt="...">
      </div>
      <div class="white-font position-absolute top-50 start-50 translate-middle w-75">
        <h5>FUENTE INAGOTABLE</h5>
        <ul>
          <li>Utiliza el calor natural de la Tierra</li>
          <li>Fuente de energía renovable y sostenible</li>
          <li>Generacion de frio o calor segun se requiera</li>
        </ul>
      </div>
    </div>
    <div class="carousel-item active position-relative">
      <div class="d-block w-100 h-100 overflow-y-hidden" >
        <img src="/paisajes/imagen5.jpg" class="w-100 h-auto" alt="...">
      </div>
      <div class="white-font position-absolute top-50 start-50 translate-middle w-75">
        <h5>Economía</h5>
        <ul>
          <li>Ahorro de hasta el 70% en boletas</li>
          <li>Altos rendimientos a bajo consumo eléctrico
          </li>
          <li>Mantenimiento cada 2 a 5 años</li>
        </ul>
      </div>
    </div>
    <div class="carousel-item active position-relative">
      <div class="d-block w-100 h-100" >
      <img src="/paisajes/imagen4.jpg" class="w-100 h-auto" alt="...">
      </div>
      <div class="white-font position-absolute top-50 start-50 translate-middle w-75">
        <h5>Estética</h5>
        <ul>
          <li>Losa radiante bajo suelo o piscina</li>
          <li>Fan coils escondidos en techos o paredes</li>
          <li>Bomba de calor en sala de maquinas</li>
        </ul>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->