
@if (!animationDone) {
    <app-loader  (animationDone)="loaderAnimationDone($event)"></app-loader>
}@else {
    <app-background [@fade]></app-background>
    <app-navbar [@fade]></app-navbar>
    <div class="container">        
        <app-servicio ></app-servicio>
    </div>
    <div class="container">
        <app-descubri></app-descubri>
    </div>
    <div class="container">
        <app-comofunciona></app-comofunciona>
    </div>
    <div class="container">
        <app-contacto></app-contacto>
    </div>
        <!-- <app-banner></app-banner> -->
}

