
@if (!animationDone) {
    <app-loader  (animationDone)="loaderAnimationDone($event)"></app-loader>
}@else {
    <app-background [@fade]></app-background>
    <app-navbar [@fade]></app-navbar>
    <main>
        <div id="servicio" class="container">        
            <app-servicio ></app-servicio>
        </div>
        <div id="descubri" class="container">
            <app-descubri></app-descubri>
        </div>
        <div id="" class="container">
            <app-comofunciona></app-comofunciona>
        </div>
        <div id="contacto" class="container">
            <app-contacto></app-contacto>
        </div>
    </main>
    <!-- <div class="simple-linear" ></div> -->
        <!-- <app-banner></app-banner> -->
}

