






circle{
    fill: var(--gold);
}

text{
    fill: var(--cyprus);
}




.line-container{
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
}

h4, p{
    color: var(--white);  
}




@media screen and (max-width:900px) {
    
    .text-content{
        width: 70%;
        margin: 0px 0px 0px 10px 
    }

    .row{
        display: flex;
        margin-bottom: 20px;
        flex-direction: row;
        align-items: center;
    }

 
}