<div @container class="container">
    <div @fadeIn class="line-container">
      <svg
        class="line"
        height="100%"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          [attr.x1]="line_start"
          y1="15%"
          [attr.x2]="line_end"
          y2="85%"
          style="stroke: #d1aa65; stroke-width: 4"
        />
      </svg>
    </div>
  
    <div  class="column">
      @for (item of items; track $index) {
        <div @rowAnimation class="row">
          <svg @fadeIn
            class="circle"
            [attr.height]="circle_canvas_size"
            [attr.width]="circle_canvas_size"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle [attr.r]="circle_radius" cx="50%" cy="50%" />
            <text
              x="50%"
              y="50%"
              dominant-baseline="middle"
              text-anchor="middle"
              font-size="20"
            >
              {{ $index + 1 }}
            </text>
          </svg>
    
          <div class="text-content">
            <h4 @leftInH>{{ item.title }}</h4>
            <p @leftInP>{{ item.descripcion }}</p>
          </div>
        </div>
      }
    </div>
  </div>
