

.logoGrande{
    width: auto;
    height: 200px;
}

.background-img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    object-fit: cover;
    transition: filter 0.3s ease;
}

h3{
    color: var(--gold);
    margin: 0px;
}

.content{
    width: 50%;
    position: absolute;
    top: 20%;
    left: 5%;

}

.active{
    /* background: #012c2f8e; */
}

p{
    color: var(--white);
  
}

mark{
    color: var(--gold);
    background: transparent;
}

.flex-center{
    position: absolute;
    bottom: 0%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}


.box-titles{
    width: 70%;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: clamp(1.2rem, 2vw ,3rem) ;

}

.logo-box {
      opacity: 1;
  transition: opacity 0.3s ease;
}


.logo-box.hide {
    opacity: 0;
}

.background-img.contrast{
    filter: blur(2px) contrast(105%);
    
}

.content {
    opacity: 1;
}



@media screen and (max-width: 900px)  {

    .background-img{
        height: 100%;
    }



    
} 

@media screen and (max-width: 600px)  {

        .logoGrande , .slogan{
        display: none;
    }

    .flex-center{
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;
        align-items: flex-end;
    }


    .box-titles{
        width: 100%;
   
        display: flex;
        flex-direction: column;
            align-items: center;
            padding: 40px;
    }

    .content{
    width: 100%;
    left: 0px;
}
    
}
    
