:host{
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--cyprus);
    height: 100%;
}

.center{
    display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    
}

.seguinos{
    color: var(--white);
    width: fit-content;
    font-size: 1.7rem;
}