:root{
    --white: rgb(255, 240, 241) ;
    --cyprus: oklch(31.48% 0.0526 204.64);
    --deep-green: oklch(26.77% 0.0449 204.4);
    --gold: oklch(75.84% 0.0987 80.67);
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

   
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    scroll-behavior: smooth;


  
   
}

body{
    margin: 0px;
    padding: 0px;
    background: var(--cyprus);
    
}

h1, h2, h4, p{
    margin: 0px;
    
}

h1{
    font-size: clamp(1.5rem, 0.75rem + 4vw, 2.5rem);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--gold);
    text-align: center;

}

p{
    font-size: clamp(12px, 15px ,3rem) ;
}


.page-title{
    font-size: clamp(1.5rem, 2.5vw ,5rem) ;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;
    
}



.page-subtitle-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-subtitle{
    
    display: block;
    font-size: clamp(1.2rem, 2vw ,3rem) ;

    font-weight: 400;

    
    
}



.white-font{
    color: var(--white);
}

.gold-font{
    color: var(--gold);
}

.text-upper{
    text-transform: uppercase;
}